@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

/* Header */
header {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

/* Login page back button */
.back-button {
  background-color: transparent;
  color: #020202;
  border: 1px solid #020202;
  font-size: 20px;
  padding: 12px 24px 14px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.back-button:hover {
  border-color: #13c995;
  color: #13c995;
}

/* SignIn and SignUp buttons */
#signInForm button,
#signUpForm button {
  background-color: #13c995;
  color: white;
  font-size: 20px;
  padding: 12px 24px 14px;
  border: none;
}

#signInForm button:hover,
#signUpForm button:hover {
  background-color: #0fb485;
}

/* Google Sign-in button */
#signInWithGoogle {
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  padding: 12px 40px 14px;
  border: 1px solid #ccc;
}

#signInWithGoogle:hover {
  background-color: #f1f1f1;
}

/* Body */
body {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Buttons */
input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #343a40;
  padding: 20px;
  overflow-y: scroll;
  box-shadow: 2px 0px 8px 0 rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 24px;
  color: #f8f9fa;
  margin-bottom: 10px;
  text-decoration: none;
  transition: color 0.2s;
}

.sidebar h2:hover {
  color: #0fb485;
}

.sidebar a {
  text-decoration: none;
}

/* Main Content */
main {
  margin-left: 270px;
  padding: 20px;
}

h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

/* Dashboard */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.task span {
  flex-grow: 1;
  margin-right: 10px;
}

button {
  background-color: #0fb485;
  color: white;
  border-color: #13c995;
  cursor: pointer;
}

#logoutButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.task button {
  margin-right: 5px;
}

/* Settings */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container label,
.form-container input,
.form-container button {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.form-container input {
  margin-top: 5px;
}

/* Responsive */
@media (max-width: 991.98px) {
  .sidebar {
    width: 200px;
  }

  main {
    margin-left: 220px;
  }
}

@media (max-width: 767.98px) {
  .sidebar {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  main {
    margin-left: 0;
  }
}
