@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dde8f1;
}

h1,
h2,
h3 {
  color: #000000;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  align-items: center;
}

a.login-button,
a.signup-button {
  text-decoration: none;
}

a.login-button::before {
  content: "";
}

.logo {
  font-size: 27px;
  font-weight: bold;
  color: #000;
  margin: 0 0 0 65px;
}

.signup-button,
.login-button {
  margin-left: 0.5rem;
}

.signup {
  background-color: #13c995;
  border: none;
  font-size: 20px;
  padding: 12px 24px 14px;
  color: #fff;
  cursor: pointer;
}

.login {
  background-color: #ffffff;
  border: 2px solid #020202;
  font-size: 20px;
  padding: 12px 24px 14px;
  color: #020202;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.login:hover {
  border-color: #13c995;
  color: #13c995;
}

/* Get Started for Free Button */
.get-started-for-free {
  background-color: #13c995;
  border: 2px solid #13c995;
  color: #ffffff;
  font-size: 20px;
  padding: 12px 40px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.get-started-for-free:hover {
  background-color: #0fb085;
  border-color: #0fb085;
}

.signup-for-free:hover {
  background-color: #0fb085;
}

/* About Creator Section */
.about-creator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}

.about-creator p {
  font-size: 20px;
  color: #999896;
  max-width: 800px;
}

/* Footer */
footer {
  background-color: #f2f0ec;
  padding: 20px 0;
}

footer p {
  font-size: 18px;
  color: #000;
  text-align: center;
  margin: 0;
}

/* Footer Links */
footer a {
  color: #484847;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}

.hero p {
  font-size: 20px;
  color: #999896;
  max-width: 800px;
}

.container.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive */
@media (max-width: 991.98px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  .feature {
    flex-basis: 45%;
  }
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .feature {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .header-container {
    flex-wrap: wrap;
  }

  .logo {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .button-container {
    width: 100%;
    justify-content: center;
  }

  .login-button,
  .signup-button {
    display: block;
    margin-bottom: 10px;
  }
}
